.App {
  text-align: center;
}


.App-header {
  background-color:  rgb(56, 71, 28);;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 162, 0);
  position: relative;
}

.App-link {
  color: #61dafb;
}

body{
  background: #723b3b;
  font-family: 'Open Sans', sans-serif;
}


.navigator-link {
  background-color: #f4f7f8;
  color: rgb(56, 71, 28);
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.navigator-link:hover {
  background-color: rgb(145, 143, 143);
}


.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 40px; 
}

.detail-container {
  margin-top: 30px;
}

.detail-wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 1000px; 

  padding-right: 20px; 
  padding-left:  20px;
  padding-top: 20px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}

.detail-wrapper p {
  text-align: left;
}


.parent {
  /* margin: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
