@import url(https://fonts.googleapis.com/css?family=Spectral+SC&display=swap);


.container {
    margin-top: 55px;
    margin-right: auto; 
    margin-left:  auto; 

    /* display: flex; */
    
    max-width: 1200px; 
    /* height: 700px; */
    
    padding-right: 20px; 
    padding-left:  20px;
    padding-top: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.gallery {
    grid-area: ga;
    text-align: left;
}

.header {
    grid-area: hd;
    text-align: left;
}

.headerFont {
    color: rgb(56, 71, 28);
    font-family: 'Spectral SC', serif;
}

.main {
    grid-area: main;
    text-align: left;
}
.sidebar {
    grid-area: sd;
}
.footer {
    grid-area: ft;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "ga ga ga ga ga  hd   hd   hd   hd   hd   "
      "sd sd sd sd sd main main main main main "
      "ft ft ft ft ft ft   ft   ft   ft   ft   ";
}

