.tile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 267px;
    width: 350px;
    padding-bottom: 20px;
    position: relative;
    /* border: 6px groove #E2E2E2; */
  }

  .image {
    width: 100%;
    height: 80%;
  }

  .font {
    font-size: 14px;
  }

  .detailLink {
    background-color: #f4f7f8;
    color: rgb(72, 145, 104);
    /* padding: 1em 1.5em; */
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    
  }
  
  .detailLink:hover {
    background-color: #555;
  }

  .linkPosition {
    font: bold;
    position: absolute;
    left: 2px;
    bottom: 0px; 
  }