@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);
@import url(https://fonts.googleapis.com/css?family=Spectral+SC&display=swap);


.welcome {
    font-size: 35px;
    font-family: 'Spectral SC', serif;
    color:  #38471c;
    /* color:  #61dafb; */
}


.container {
  max-height: 80%;
  margin-top: 30px;

}

.image {
  max-width: 70%;
  max-height: 60%;
}