.detailLink {
    background-color: #f4f7f8;
    color:  #489168;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    
  }

  .linkPosition {
    font: bold;
    position: absolute;
    left: 0;
    bottom: 16px; 
  }
  
  .detailLink:hover {
    background-color: rgb(145, 143, 143);
  }

  .tile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 350px;
    width: 300px;
    text-align: left;
    position: relative;
  }
  
  .tileImage {
    width: 100%;
    height: 45%;
  }
  
  .tile:hover {
    box-shadow: 0 28px 26px 0 rgba(0,0,0,0.2);
  }